/*------------------------------------------------------------------
[Master Stylesheet]

Project:    Project Name
Version:    1.0
Last change:    24/03/17 [fixed Float bug, vf]
Author Name: Author Name
Primary use:    Project Type
-------------------------------------------------------------------*/
